<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false"
                     xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="level" value="TRACE"/>
        <param name="Target" value="System.out"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern"
                   value="%d{ISO8601} gateleen %p %c{1} - %m%n"/>
        </layout>
    </appender>

    <root>
        <level value="WARN"/>
        <appender-ref ref="consoleAppender"/>
    </root>

</log4j:configuration>
